name: PR Checks

on:
  pull_request:

jobs:
  lint_and_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12.3'

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        run: pytest tests

      - name: Check Black formatting
        run: black --check --diff .

      - name: Check isort formatting
        run: isort --check-only --profile black .

      - name: Run mypy type check
        run: mypy .

      - name: Run flake8
        run: flake8 --max-line-length=88 .
